@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

@media (prefers-color-scheme: dark){
    $grisOscuro: #2c2c3b;
    body{
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a {
        color: v.$blanco;
    }

    .descripcion-pagina,
    .formulario input,
    .nombre-pagina{
        color: color.scale(v.$grisClaro, $lightness: 15%);
    }

    .formulario .campo input{
        background-color: color.scale($grisOscuro, $lightness: -40%);
    }

    .alerta.error{
        background-color: v.$blanco;
    }

    @include m.tablet{
        .sidebar{
        background-color: color.scale($grisOscuro, $lightness: -40%);

         .sidebar-nav a{
                &:hover,
                &.activos{
                    background-color: v.$naranja;
                }
            }
        }
    }

   

    .barra-mobile,
    .barra{
        background-color: color.scale($grisOscuro, $lightness: -25%);
    }

    .barra{
        p {
        color: v.$grisClaro;
        }

        span{
            color: v.$naranja;
        }

        .cerrar-sesion{
            @include m.boton(v.$naranja, v.$blanco);
            padding: 1rem;
            font-size: 1.2rem;
        }
    }

    .filtros{
        background-color: color.scale($grisOscuro, $lightness: 20%);

        h2,
        label{
            color: v.$blanco;
        }

        .filtros input[type=radio] {
            accent-color: v.$naranja;
        }
    }


    .dashboard{
        background-color: $grisOscuro;

        .enlace{
            color: v.$grisClaro;

            &:hover{
                color: color.scale(v.$grisClaro, $lightness: -30%);
            }
        }

        .formulario input:not([type=submit]){
            background-color: color.scale($grisOscuro, $lightness: -15%);

        }
    }

    .listado-proyectos .proyecto{
        background-color: color.scale($grisOscuro, $lightness: 20%);

        &:hover{
        background-color: color.scale($grisOscuro, $lightness: 15%);
        }
    }

    .listado-tareas .tarea{
        background-color: color.scale($grisOscuro, $lightness: 10%);
        border: none;

        p{
            color: v.$grisClaro;
        }
    }

    .modal .formulario{
        background-color: color.scale($grisOscuro, $lightness: -15%);
        input[type="text"]{
            background-color: color.scale($grisOscuro, $lightness: 10%);
            border: none;
        }
        legend{
            color: v.$blanco;
        }
    }
}