@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.barra-mobile{
   background-color: v.$indigo;
   padding: 2rem 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   @include m.tablet{
       display: none;
   }

   h1{
    color: v.$blanco;
    margin: 0;

   }

   .menu img{
        width: 6rem;
        
        &:hover{
            cursor: pointer;
        }
    }
}

.barra{
    display: none;

    @include m.tablet{
           display: none;
        background-color: v.$blanco;
        padding: 1rem 2rem;
        box-shadow: 1px 12px 9px -13px rgba(0,0,0,0.4);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        margin: 0;
        font-size: 1.4rem;


        span{
            font-weight: 700;
            color: v.$indigo;
        }
    }

    .cerrar-sesion{
        background-color: v.$indigo;
        color: v.$blanco;
        padding: .7rem 1.5rem;
        border-radius: .5rem;
        text-decoration: none;
        font-weight: 700;
        transition-property: background-color;
        transition-duration: 300ms;

        &:hover{
            background-color: color.scale(v.$indigo, $lightness: -50%);
        }
    }
}