@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.barra{
    background-color: v.$blanco;
    padding: 1rem 2rem;
    box-shadow: 1px 12px 9px -13px rgba(0,0,0,0.4);

    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        margin: 0;
        font-size: 1.4rem;


        span{
            font-weight: 700;
            color: v.$indigo;
        }
    }

    .cerrar-sesion{
        background-color: v.$indigo;
        color: v.$blanco;
        padding: .7rem 1.5rem;
        border-radius: .5rem;
        text-decoration: none;
        font-weight: 700;
        transition-property: background-color;
        transition-duration: 300ms;

        &:hover{
            background-color: color.scale(v.$indigo, $lightness: -50%);
        }
    }
}