@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';


.filtros{
    background-color: color.scale(v.$gris, $lightness: 40%);
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;

    .filtros-inputs{
        @include m.tablet{
            display: flex;
            gap: 2rem;
            align-items: center;
        }
    }

    h2{
        color: v.$indigo;
        font-size: 2.8rem;
        @include m.tablet{
            margin: 0;
        }
    }

    .campos{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        @include m.tablet{
            margin-bottom: 0;
        }
    }

    input[type="radio"]{
        accent-color: v.$indigo;
        width: 2.2rem;
        height: 2.2rem;
    }
}
