@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.no-proyectos{

    a{
        color: v.$indigo;
    }
}

.listado-proyectos{
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    @include m.grid(1, 2rem);
    @include m.tablet{
        @include m.grid(2, 2rem);
    }
    @include m.desktop{
        @include m.grid(3, 2rem);
    }

    .proyecto{
        background-color:color.scale(v.$indigo, $lightness: 10%);
        min-height: 12rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        line-height: 2;
        border-radius: 0.5rem;

        a{
            color: v.$blanco;
            font-size: 2rem;
            font-weight: 700;
            text-decoration: none;
            width: 100%;

        }

        &:hover{
            background-color: color.scale(v.$indigo, $lightness: -20%);
        }
    }
}