@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.sidebar{
    background-color: v.$indigo;
    padding: 2rem;
    h2{
        color: v.$blanco;
        text-align: center;
    }

    .sidebar-nav{
        margin-top: 5rem;
        
        a{
            display: block;
            color: v.$blanco;
            margin-bottom: 1.5rem;
            padding: .7rem;
            transition-property: background-color;
            transition-duration: 300ms;

            &:hover,
            &.activos{
                background-color: color.scale(v.$indigo, $lightness: -50%);
                border-radius: .5rem;
            }
        }
    }
}