@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenedor-nueva-tarea{
    display: flex;
    justify-content: center;
    
    .agregar-tarea{
        @include m.boton(v.$cyan, v.$blanco);
    }
}

.listado-tareas{
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    .no-tareas{
        text-align: center;
        margin-top: 3rem;
    }
}

.tarea{
    padding: .5rem 2rem;
    border-bottom: 2px solid color.adjust(v.$grisClaro, $lightness: -5%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    &:last-of-type{
        border-bottom: none;
    }

    p{
        font-size: 1.4rem;
    }

    .opciones{
        display: flex;
        gap: 1rem;
        button{
            border: none;
            font-size: 1.2rem;
            text-transform: uppercase;
            padding: .5rem 1rem;
            font-weight: 700;
            border-radius: 1rem;

            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }
        .completada{
            background-color: v.$azul;
            color: v.$blanco;
        }

        .pendiente{
            background-color: v.$naranja;
            color: v.$blanco;
        }

        .eliminar-tarea{
            background-color: v.$rojo;
            color: v.$blanco;
        
        }
    }
}